<!DOCTYPE html>
<html lang="en" xmlns:layout="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign</title>
</head>

<body>
    <div class="container">
        <div class="text">
            <h1>Sign</h1>
        </div>
        <form action = "/a" method="post" >
            <div class="animated-input">
                <label for="name"></label>
                <input type="text" placeholder="name" id="name" maxlength='10' name="name">
            </div>
            <div class="animated-input">
                <input name = "password">
            </div>

            <button class="button-1" type = "submit">SIGNIN</button>
        </form>
        <div>
        </div>
    </div>
</body>


</html>