<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rank</title>
</head>
<body>
    <table border="1">
        <tr>
            <th align="center" width="80">TOP</th>
            <th align="center" width="80">NAME</th>
            <th align="center" width="80">HOUR</th>
            <th align="center" width="80">MIN</th>
        </tr>

        <tr th:if="${#lists.isEmpty(list)}">
            <td colspan="4">
                List is empty
            </td>
        </tr>

        <tr th:each="list,iterState : ${list}">
            <td align="center" th:text="${iterState.count}"></td>
            <td align="center" th:text="${list.user.name}"></td>
            <td align="center" th:text="${list.h}"></td>
            <td align="center" th:text="${list.m}"></td>
        </tr>

    </table>
</body>
</html>